<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"] - Thomas Guest Music</title>

    <!-- Metadata Fields -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.85" />
    <meta name="description" content="Official website for Thomas Guest Music. Explore new song releases, events, and updates." />
    <meta name="keywords" content="Thomas Guest, Thomas Guest Music, Singer, Country Music, Music, Macon, Georgia" />
    <meta name="author" content="Thomas Guest" />

    <!-- Open Graph -->
    <meta property="og:title" content="Thomas Guest Music" />
    <meta property="og:description" content="Official website for Thomas Guest Music. Explore new song releases, events, and updates." />
    <meta property="og:url" content="https://www.thomasguestmusic.com/" />
    <meta property="og:site_name" content="Thomas Guest Music" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.thomasguestmusic.com/icons/logo-gw.png" />

    <!-- Twitter/X -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Thomas Guest Music" />
    <meta name="twitter:description" content="Official website for Thomas Guest Music. Explore new song releases, events, and updates." />
    <meta name="twitter:image" content="https://www.thomasguestmusic.com/icons/logo-gw.png" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.13.1-custom/bootstrap-icons.css"/>
    <link rel="stylesheet" href="~/css/SiteStyles.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @await Html.PartialAsync("_Header")

    <main>
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
